body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e6b8b8;
}

center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

h1 {
  color: #333;
}

button {
  background-color: #777574;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 8px;
  font-size: 14px;
}

#output {
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow-y: auto; /* Agrega desplazamiento vertical si es necesario */
  max-height: 400px; /* Ajusta según sea necesario */
}

/* Responsiveness */
@media screen and (max-width: 600px) {
  button {
    width: 100%;
  }
}
